@attribute [Authorize]
@attribute [StudentRequired]
@page "/admin/editLog"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@inject StudueContext StudueContext;
@rendermode InteractiveServer

<section>
    <h2>Edit log</h2>

    <div>
        <SortableTable TItem="EditLogEntry" Items="_editLogEntries" Columns="@([
                                                                                 new("DateTime", x => x.DateTime),
                                                                                 new("Type", x => x.Type),
                                                                                 new("StudentID", x => x.Student.StudentId),
                                                                                 new("ModuleName", x => x.Assignment.ModuleInstance.Module.Name),
                                                                                 new("ChangeInfo", x => x.ChangeInfo),
                                                                                 new("Undo", _ => 0),
                                                                             ])" InitialSortingColumn="DateTime">
            <RowTemplate Context="editLogEntry">
                <tr>
                    <td>@editLogEntry.DateTime</td>
                    <td>@editLogEntry.Type</td>
                    <td>@editLogEntry.Student.StudentId</td>
                    <td>@editLogEntry.Assignment.ModuleInstance.Module.Name</td>
                    <td>@editLogEntry.ChangeInfo</td>
                    <td>
                        @if (editLogEntry.Type == "delete")
                        {
                            <button type="button" @onclick="() => UndoDelete(editLogEntry)">Undo delete</button>
                        }
                    </td>
                </tr>
            </RowTemplate>
        </SortableTable>
    </div>
</section>

@code {
    private List<EditLogEntry> _editLogEntries = new();

    protected override async Task OnParametersSetAsync()
    {
        _editLogEntries = await StudueContext.EditLog.Include(x => x.Assignment)
            .ThenInclude(x => x.ModuleInstance)
            .ThenInclude(x => x.Module)
            .Include(x => x.Student)
            .ToListAsync();
    }

    private async Task UndoDelete(EditLogEntry editLogEntry)
    {
        editLogEntry.Assignment.IsDeleted = false;
        await StudueContext.SaveChangesAsync();
    }
}
