@attribute [Authorize]
@attribute [StudentRequired]
@page "/admin/incidents"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@inject StudueContext StudueContext;
@rendermode InteractiveServer

<section>
    <h2>Incidents</h2>

    <div>
        <SortableTable TItem="Incident" Items="_incidents" Columns="@([
                                                                        new("DateTime", x => x.DateTime),
                                                                        new("UserId", x => x.UserId),
                                                                        new("Description", x => x.Description),
                                                                        new("StackTrace", x => x.StackTrace),
                                                                    ])" InitialSortingColumn="DateTime" Ascending="false">
            <RowTemplate Context="incident">
                <tr>
                    <td>@incident.DateTime</td>
                    <td>@incident.UserId</td>
                    <td>@incident.Description</td>
                    <td>@incident.StackTrace</td>
                </tr>
            </RowTemplate>
        </SortableTable>
    </div>
</section>

@code {
    private List<Incident> _incidents = new();

    protected override async Task OnParametersSetAsync()
    {
        _incidents = await StudueContext.Incidents.ToListAsync();
    }
}