@page "/Admin/Students"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Studue.Services
@inject StudueContext StudueContext;
@inject IJSRuntime JSRuntime
@attribute [StudentRequired]
@attribute [Authorize]
@rendermode InteractiveServer
@layout AdminLayout

<section>
    <h2>Students</h2>

    <div>
        <SortableTable TItem="Student" Items="_students"
                       Columns="@([
                                    new("StudentID", x => x.StudentId),
                                    new("Class", x => x.IsAdmin),
                                    new("IsAdmin", x => x.IsAdmin),
                                    new("IsBanned", x => x.IsBanned),
                                    new("Write Token", x => x.WriteToken),
                                    new("Impersonate", _ => null),
                                    new("Last Access", x => x.LastAccess),
                                ])" InitialSortingColumn="Last Access">
            <RowTemplate Context="student">
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Class</td>
                    <td><input type="checkbox" @bind="student.IsAdmin" @bind:after="Changed"></td>
                    <td><input type="checkbox" @bind="student.IsBanned" @bind:after="Changed"></td>
                    <td>@student.WriteToken <button @onclick="async () => await RegenerateToken(student)">Regenerate
                        </button>
                    </td>
                    <td>
                        <button onclick="@($"impersonate(\"{student.StudentId}\", \"{student.WriteToken}\")")">Impersonate</button>
                    </td>
                    <td>@student.LastAccess.ToString("dd.MM.yyyy HH:mm")</td>
                </tr>
            </RowTemplate>
        </SortableTable>
    </div>
</section>

<script>
    function impersonate(studentId, writeToken) {
        window.location.href = `/?student_id=${encodeURIComponent(studentId)}&write_token=${encodeURIComponent(writeToken)}`;
    }
</script>

@code {
    private List<Student> _students = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshStudents();
    }

    private async Task RefreshStudents()
    {
        _students = await StudueContext.Students.ToListAsync();
    }

    private async Task Changed()
    {
        await StudueContext.SaveChangesAsync();
    }

    private async Task RegenerateToken(Student student)
    {
        var confirm = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirm)
        {
            student.WriteToken = StudentContext.GenerateWriteToken();
            await StudueContext.SaveChangesAsync();

            await RefreshStudents();
        }
    }

}
